name: Release
on:
  push:
    tags: "*"

env:
  MILL_PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
  MILL_PGP_SECRET: ${{ secrets.PGP_SECRET }}
  MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.PGP_SECRET }}
          passphrase: ${{ secrets.PGP_PASSPHRASE }}
      - name: Publish
        run: >
          ./mill -i mill.contrib.sonatypecentral.SonatypeCentralPublishModule/publishAll \
              --gpgArgs --passphrase=$MILL_PGP_PASSPHRASE,--no-tty,--pinentry-mode,loopback,--batch,--yes,-a,-b \
              --publishArtifacts __.publishArtifacts \
              --readTimeout 600000 \
              --awaitTimeout 600000 \
              --connectTimeout 36000
